.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navbar styling */
.nav-link {
  position: relative;
}

.nav-link:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: lightseagreen;
  display: block;
  transform: scaleX(0);
}

.nav-link:hover:after {
  transform: scaleX(1);
  
}
a:hover {
  background-color: rgb(233, 147, 85);
}

/* Footer styling */
.footerStyle{
  height: 40vh;
  background-color: #cf8f2e;
  position: absolute; 
  bottom: 0vh;
  /* display: flex */
}
.burgerItems{
  margin-top: 1%;
}
.bLess {
  margin:2px;
  padding: 4px 20px;
  background-color: #d39952;
  color: white;
  border: 1px solid #aa6817;
  width: 80px
}
.bMore {
  margin:2px; 
  padding: 4px 10px;
  background-color: #8f5e1e;
  color: white;
  border: 1px solid #aa6817;
  width: 80px
}
.orderBtn{
  margin-top: 5px;
  background-color: #c7c6c6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888;
  padding: 15px 30px;
}